@charset "UTF-8";
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
body {
    overflow:Scroll;
    overflow-x:hidden;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}


s, i, em {
    font-style: normal;
    text-decoration: none;
}

.container {
    width: 1160px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

#header{
    margin-right: auto;
    margin-left: auto;

}
#header   .container{
    position: relative;
}
#header  .logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#header   .container  .nav-tabs {
    height: 60px;
    float: left;
    margin-left: 200px;
    margin-top: 40px;

}
#header   .container  .nav-tabs span{
    background-color: pink;
    display:block;
    float: left;
    height: 60px;
    width: 120px;
    margin-bottom: 0;
    line-height: 60px;
    font-size: 16px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
#header   .container .langs{
    float: left;
    height: 60px;
    width: 134px;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 60px;
    font-size: 16px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
#header   .container .nav-tabs .bom{
    background: rgb(255,255,255);
}

#header  .container  .tab-content div{
    padding-top: 10px;
    position: absolute;
    top: 100px;
    width: 1026px;
    height: 160px;
    background: rgb(255,255,255);
    z-index: 1111;
    margin-left: 200px;
    display: none;

}
#header  .container  .tab-content div img{
    height: 130px;
    width: 200px;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
#header   .container  .tab-content .dis-black{
    display: block;
}
#header   .container  .tab-content div ul {
    padding-left: 100px;
    float: left;
}
#header   .container .tab-content div ul li {
    list-style: none;
    font-size: 20px;
    color:  #000000;
    margin-top: 10px;
}


/* 结尾部分 */
.jieshu{
    height: 260px;
    padding-top: 26px;
    margin-right: auto;
    margin-left: auto;
}
.jieshu .container .logo{
    height: 170px;
    width: 129px;
    float: left;
    margin-left: 56px;
}
.jieshu .container .footer_tel{
    float: left;
    margin-top: 32px;
}
.jieshu .container .footer_tel ul{
    float: left;
    margin-left: 100px;
}
.jieshu .container .footer_tel ul li{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}
.jieshu .container .weixin{
    float: right;
    margin-right: 78px;

}


.jieshu .container .row .col-lg-4 {

    margin-bottom: 30px;
    margin-top: 30px;
}
.jieshu .container .row li{
    list-style: none;
    margin-top: 10px;

}





/*公用属性*/
.biude{
    display:block;
    height: 30px;
    width: 132px;
    margin: 40px auto 10px;
    background-color: #ff6239;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
}
.banner{
    height: 380px;
    width: 100%;
    background-color: #03adea;
}

.boo{
    width: 100%;

}
/*概况*/
.meishi .logo{
    width: 144px;
    height: 116px;
    margin: 40px auto 0;

}
.meishi .jiudian{
    height: 350px;
    width: 276px;
    float: left;
    margin-top: 30px;
    margin-left: 14px;
}
.meishi .jiudian img{
    height: 260px;
    width: 276px;
}
.meishi .jiudian .modo{
    border: 1px solid #b1b1b1;
    border-top: none;
    height: 73px;
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 30px;
    padding-top: 16px;

}
.meishi .jiudian .modo span{
    float: right;
    margin-right: 10px;
}
.meishi .jiudian .modo h4{
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 30px;
    color: #02adea;
    margin-left: 24px;
}
.meishi .jiudian .modo p{
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 30px;
    margin-left: 24px;
}

/*加载更多*/

.meishi .jiamo{
    width: 844px;
    height: 44px;
    margin: 40px auto 100px;
}
.meishi .jiamo a{
    display: block;
    cursor:auto;
    height: 44px;
    text-decoration: none;
    background-color: #080808;
    width: 844px;
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    margin: 40px auto 100px;
}

/*
.jiamo{
    height: 44px;
    width: 100%;

}
.jiamo button{
    height: 44px;
    width: 844px;
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    margin: 40px auto 100px;
}
*/
